{% extends 'base.html.twig' %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block body %}

    <div class="col-10 mx-auto">
        <div class="container-xxl bg-dark my-3 p-3 rounded text-white">
            <div class="row">
                <h2 class="border-bottom border-success pb-2"><span class="fw-bold text-success">&sol;&sol;</span> {{ title }}</h2>
                {% if adverts|length == 0 %}
                    <div class="mx-auto no-result">Aucun résultat</div>
                {% else %}
            </div>
                <h4 class="mt-3">{{ adverts|length ~ ' résultats' }}</h4>
                <div class="row align-items-center text-center fw-bold">
                    <div class="col-2 pb-2">Titre</div>
                    <div class="col-4 pb-2">Description</div>
                    <div class="col-1 pb-2">Date de publication</div>
                    <div class="col-1 pb-2">Date de modification</div>
                    <div class="col-1 pb-2">Auteur</div>
                    <div class="col-3 pb-2">Actions</div>
                </div>
                {% for advert in adverts %}
                    <div class="row border-top border-secondary align-items-center item">
                        <div class="col-2 p-2">{{ advert.title }}</div>
                        <div class="col-4 p-2">{{ advert.description > 100 ? advert.description|slice(0, 101)|split(' ')|slice(0, -1)|join(' ') ~ '…' : advert.description }}</div>
                        <div class="col-1 p-2 text-center">{{ advert.createdAt|date('d-m-Y H:i') }}</div>
                        <div class="col-1 p-2 text-center">{{ advert.updatedAt is not null ? advert.updatedAt|date('d-m-Y H:i') : '-' }}</div>
                        <div class="col-1 p-2 text-center">{{ advert.user }}</div>
                        <div class="col-3 p-2 text-center">
                            {% include "/admin/advert/_buttons.html.twig" %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
