{% extends 'base.html.twig' %}

{% block title %}Hello AdvertController!{% endblock %}

{% block body %}
    
    {% if adverts|length == 0 %}
            <div class="mx-auto no-result">Aucun résultat</div>
        {% else %}
            <h3>{{ adverts|length ~ ' résultats' }}</h3>
            <table class="table table-dark table-hover align-middle">
                <thead class="align-middle">
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date de publication</th>
                        <th scope="col">Date de modification</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for advert in adverts %}
                    <tr>
                        <th scope="row">{{ advert.title }}</th>
                        <td>{{ advert.description > 100 ? advert.description|slice(0, 101)|split(' ')|slice(0, -1)|join(' ') ~ '…' : advert.description }}</td>
                        <td>{{ advert.createdAt|date('Y-m-d H:i') }}</td>
                        <td>{{ advert.updatedAt is not null ? advert.updatedAt|date('Y-m-d H:i') }}</td>
                        <td>{{ advert.user }}</td>
                        <td>
                            {% if 'advert_to_approve' in route %}
                                <form action="{{ path('admin_advert_approve', {id: advert.id}) }}" method="post" class="d-inline">
                                    <button class="btn btn-outline-success"><i class="bi bi-check-circle"></i></button>
                                    <input type="hidden" name="_token" value="{{ csrf_token('approveAdvert') }}">
                                </form>
                            {% endif %}
                            <a class="btn btn-outline-primary" href="{{ path('admin_advert_read', {'id': advert.id}) }}"><i class="bi bi-eye"></i></a>
                            <a class="btn btn-outline-warning" href="{{ path('admin_advert_edit', {'id': advert.id}) }}"><i class="bi bi-gear"></i></a>
                            {% if 'advert_inactive' not in route %}
                                <form action="{{ path('admin_advert_deactivate', {id: advert.id, redirect: route}) }}" method="post" class="d-inline">
                                    <button class="btn btn-outline-danger"><i class="bi bi-lock"></i></button>
                                    <input type="hidden" name="_token" value="{{ csrf_token('deactivateAdvert') }}">
                                </form>
                            {% endif %}
                            <form action="{{ path('admin_advert_delete', {id: advert.id, redirect: route}) }}" method="post" class="d-inline">
                                <button class="btn btn-outline-danger"><i class="bi bi-x-circle"></i></button>
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="_token" value="{{ csrf_token('deleteAdvert') }}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>                
        {% endif %}

{% endblock %}
